@import url("https://fonts.googleapis.com/css?family=Roboto:400,italic,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1;
  background-color: #1c1c1c;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #f6762c;
  border-radius: 5px;
  padding: 15px 37px;
  line-height: 118.75%;
  transition: box-shadow 0.5s ease;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 1px 1px 30px #f6762c;
}

.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background 0.5s ease, padding 0.5s ease;
}
.header.active {
  background-color: #f6762c;
  padding: 0px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header__item {
}
.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 114.29%;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease;
}
.header__link_active {
  font-weight: 500;
  color: #fff;
}
.header__link:not(.header__link_active):hover {
  color: #f6762c;
}

.header.active .header__link:not(.header__link_active):hover {
  color: #fff;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
  background-color: transparent;
}

.header__burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.header__burger span:nth-child(1) {
  top: 0;
  left: 0;
}

.header__burger span:nth-child(2) {
  top: 11px;
  left: 0;
}

.header__burger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.header__list .header__btn {
  display: none;
  background-color: #fff;
  color: #f6762c;
}

.header.active .header__btn {
  background-color: #fff;
  color: #f6762c;
}

.header.active .header__btn:hover {
  box-shadow: 1px 1px 30px #fff;
}

.main-page {
  position: relative;
  padding: 242px 0px;
  min-height: calc(100vh - 100px);
}
.main-page__body {
  max-width: 555px;
}
.main-page__subtitle {
  font-size: 14px;
  line-height: 114.29%;
  letter-spacing: 0.1em;
  margin: 0px 0px 7px 0px;
  color: #ffffff;
}
.main-page__title {
  font-weight: 500;
  font-size: 57px;
  line-height: 117.54%;
  color: #ffffff;
  margin: 0px 0px 37px 0px;
}
.main-page__text {
  max-width: 523px;
  font-weight: 400;
  font-size: 18px;
  line-height: 116.67%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px 0px 42px 0px;
}
.main-page__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-page__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.menu {
  padding: 115px 0 102px;
  background-color: #1c1c1c;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.card-menu {
  flex: 0 1 262px;
  background-color: #312f30;
  border-radius: 10px;
  overflow: hidden;
  align-self: stretch;
  text-align: center;
  transition: box-shadow 0.8s ease;
}
.card-menu:hover {
  box-shadow: 1px 1px 50px #f6762c;
}
.card-menu__image {
}
.card-menu__body {
  padding: 28px 15px 42px;
}
.menu__title {
  font-size: 20px;
  line-height: 115%;
  color: #ffffff;
  margin: 0px 0px 13px 0px;
}
.menu__text {
  max-width: 230px;
  font-weight: 400;
  line-height: 118.75%;
  color: rgba(255, 255, 255, 0.7);
}

.burger-king {
  background-color: #312f30;
  padding: 0px 0px 43px 0px;
}
.burger-king__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-king__column:last-child {
  flex: 0 0 371px;
}
.burger-king__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 118.18%;
  color: #ffffff;
}
.burger-king__title:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.burger-king__text {
  max-width: 368px;
  font-weight: 400;
  line-height: 118.75%;
  color: rgba(255, 255, 255, 0.7);
}
.burger-king__text:not(:last-child) {
  margin: 0px 0px 13px 0px;
}
.burger-king__price {
  font-weight: 500;
  letter-spacing: 0.1em;
}
.burger-king__price:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.burger-king__new-price {
  display: inline-block;
  font-size: 20px;
  line-height: 115%;
  color: #f6762c;
  margin: 0px 6px 0px 0px;
}
.burger-king__old-price {
  display: inline-block;
  line-height: 118.75%;
  text-decoration-line: line-through;
  color: rgba(245, 117, 43, 0.5);
}

.products {
  padding: 150px 0px 130px;
}
.products__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card-products {
  position: relative;
  align-self: stretch;
  flex: 0 1 555px;
  min-height: 300px;
  padding: 75px 28px 62px 50px;
}
.card-products__content {
  position: relative;
  max-width: 236px;
  z-index: 1;
}
.card-products:nth-child(odd) .card-products__content {
  margin: 0px 0px 0px auto;
}
.card-products__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 116.67%;
  color: #ffffff;
}
.card-products__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.card-products__text {
  max-width: 236px;
  font-weight: 400;
  line-height: 118.75%;
  color: rgba(255, 255, 255, 0.7);
}
.card-products__text:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.card-products__price {
  font-weight: 500;
  line-height: 118.75%;
  letter-spacing: 0.1em;
}
.card-products__price:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.card-products__new-price {
  margin: 0px 10px 0px 0px;
  color: #f6762c;
}
.card-products__old-price {
  text-decoration: line-through;
  color: rgba(246, 118, 44, 0.5);
}
.card-products__btn {
  font-size: 12px;
  line-height: 116.67%;
  padding: 12px 36px;
}
.card-products__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.card-products__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  padding: 0px 0px 142px 0px;
}
.feedback__body {
  max-width: 851px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.feedback__column {
  position: relative;
}
.feedback__column_left {
  flex: 0 0 346px;
  min-height: 346px;
}
.feedback__column_left::before,
.feedback__column_left::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px dashed rgba(246, 118, 44, 0.3);
  z-index: -1;
}
.feedback__column::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: scale-big 5s linear 0s infinite alternate;
}
.feedback__column_left::after {
  width: 230px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scale-small 3s linear 0s infinite alternate;
}
.feedback__column_right {
  flex: 0 0 368px;
  text-align: center;
}
.feedback__image_c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 4px 37px rgba(246, 118, 44, 0.2);
  cursor: pointer;
}
.feedback__image_t-l {
  position: absolute;
  top: 44px;
  left: -19px;
  cursor: pointer;
}
.feedback__image_t-r {
  position: absolute;
  right: 40px;
  top: -6px;
  cursor: pointer;
}
.feedback__image_b-r {
  position: absolute;
  bottom: 42px;
  right: 10px;
  cursor: pointer;
}
.feedback__image_b-l {
  position: absolute;
  left: 57px;
  bottom: -8px;
  cursor: pointer;
}
.feedback__tab-content {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  height: 0px;
  transition: transform 0.6s ease;
}
.feedback__tab-content.active {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.feedback__blockquote {
  max-width: 368px;
  position: relative;
  padding: 68px 0px 0px 0px;
  margin: 0 auto;
}
.feedback__blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 37px;
  height: 31px;
  background: url("img/komas.svg") 0 0 no-repeat;
}
.feedback__blockquote::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 46%;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: rgba(246, 118, 44, 0.1);
}
.feedback__text {
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
}
.feedback__text:not(:last-child) {
  margin: 0px auto 27px auto;
}
.feedback__fullname {
  font-size: 24px;
  line-height: 116.67%;
  color: #ffffff;
}
.feedback__fullname:not(:last-child) {
  margin: 0px 0px 2px 0px;
}
.feedback__national {
  font-size: 12px;
  line-height: 116.67%;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

.download {
  background-color: #312f30;
  padding: 60px 0;
}
.download__body {
  padding: 0 97px 0 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.download__title {
  font-size: 40px;
  line-height: 117.5%;
}
.download__btn {
  cursor: pointer;
}

.footer {
  padding: 87px 0 139px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 92px;
  padding: 0px 60px 0px 0px;
  flex-wrap: wrap;
}
.footer__contacts {
}
.footer__logo {
}
.footer__mail,
.footer__link {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 116.67%;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 0px 0px 19px;
}
.footer__mail:not(:last-child) {
  margin: 0px 0px 9px 0px;
}
.footer__mail::before,
.footer__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  transform: translate(0, -50%);
}
.footer__mail::before {
  background: url("img/mail.svg") 0 0 no-repeat;
}
.footer__link::before {
  background: url("img/site.svg") 0 0 no-repeat;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  padding: 20px 0px 0px 0px;
}
.nav-footer__column {
  flex: 0 0 107px;
  align-self: stretch;
}
.nav-footer__label {
  line-height: 118.75%;
  color: #ffffff;
}
.nav-footer__label:not(:last-child) {
  margin: 0px 0px 14px 0px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.nav-footer__item {
}
.nav-footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 116.67%;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}
.nav-footer__link:hover {
  color: #f6762c;
}
.nav-footer__socials {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 992px) {
  .main-page {
    padding: 175px 0;
  }
  .menu__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .products {
    padding: 100px 0;
  }
  .feedback__body {
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feedback__column_right {
    flex: 1 1 100%;
  }
  .footer__body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header__nav {
    order: 3;
  }
  .header__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    row-gap: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #f6762c;
    transform: translate(100%, 0);
    transition: transform 0.5s ease;
    z-index: 1000;
  }
  .header__list.active {
    transform: translate(0, 0);
  }
  .header__link {
    font-size: 28px;
  }
  .header__link:hover {
    color: #fff;
  }
  .header__burger {
    position: relative;
    display: block;
    z-index: 1001;
  }
  .header__burger span {
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  .header__burger.active span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
  }
  .header__burger.active span:nth-child(2) {
    display: none;
  }
  .header__burger.active span:nth-child(3) {
    bottom: 11px;
    transform: rotate(-45deg);
  }
  .header__btn {
    display: none;
  }
  .header__list .header__btn {
    display: block;
  }
  .main-page {
    padding: 150px 0 75px;
  }
  .main-page__title {
    font-size: 48px;
  }
  .main-page__text {
    font-size: 16px;
  }
  .main-page__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu {
    padding: 50px 0;
  }
  .burger-king__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .burger-king__column:last-child {
    flex: 1 1 100%;
  }
  .burger-king__title {
    font-size: 38px;
  }
  .products {
    padding: 50px 0;
  }
  .card-products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  .feedback__text {
    font-size: 14px;
  }
  .feedback__fullname {
    font-size: 18px;
  }
  .feedback {
    padding: 0px 0px 50px 0px;
  }
  .download__body {
    padding: 0;
  }
  .download__title {
    font-size: 30px;
  }
  .download {
    padding: 50px 0;
  }
  .footer {
    padding: 50px 0px;
  }
  .footer__body {
    justify-content: center;
    row-gap: 30px;
  }
  .nav-footer {
    flex: 1 1 100%;
    align-self: flex-start;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

@media (max-width: 475px) {
  .header__logo {
    max-width: 75px;
  }
  .main-page__title {
    font-size: 36px;
  }
  .menu__title {
    font-size: 18px;
  }
  .burger-king__text {
    font-size: 14px;
  }
  .card-products__text {
    font-size: 14px;
  }
  .card-products {
    padding: 75px 28px 62px 25px;
  }
  .feedback__image_t-l {
    left: 20px;
  }
  .feedback__image_b-r {
    right: 20px;
  }
  .download__body {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .nav-footer__column {
    flex: 1 0 50%;
  }
}

@keyframes scale-small {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes scale-big {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
